.btn {
  line-height: 1.5;
  background-color: $white-alpha-25;
  border: 1px solid $white-alpha-40;
  margin: 0 15px 15px 0;
  padding: 10px 28px;
  display: inline-block;
  border-radius: 30px;
  color: $main_color;
  font-weight: 500;
  text-transform: capitalize;
  font-family: inherit;
  font-size: 16px;
  position: relative;
  overflow: hidden;
  vertical-align: middle;
  transition: color 0.3s ease-in;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0%;
    background-color: $main_color;
    z-index: -1;
    transition: width 0.3s ease-out;
  }

  &:hover {
    color: $white;
  }

  &:hover::before {
    width: 100%;
  }
}
