.about-section {
  .container {
    .about-img {
      width: 40%;
      padding: 0 15px;

      .img-box {
        background-color: $white-alpha-25;
        max-width: 380px;
        max-height: 500px;
        height: 100%;
        border: 1px solid $white-alpha-40;
        margin: auto;
        border-radius: 10px;

        img {
          border-radius: 10px;
          width: 100%;
          height: 100%;
          object-fit: cover;
          //   transform: translateX(-3%);
        }
      }
    }

    .about-text {
      //   background-color: blue;
      width: 60%;
      padding: 0 15px;

      h3 {
        text-transform: capitalize;
        font-size: 20px;
        margin: 20px 0;
      }

      .skills {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(60px, 80px));
        row-gap: 0.2rem;
        align-items: center;

        .skill-item {
          text-transform: capitalize;
          margin: 0 5px 15px 0;
          border-radius: 20px;
          display: grid;
          align-items: center;
          justify-content: center;
          text-align: center;
          height: 60px;
          width: 60px;
          margin-inline: auto;

          &-imgContainer{
            display: flex;
            height: 50px;
            width: 50px;
            margin-block-end: 4px;

            &-img{
              align-self: center;
            }
          }

          p {
            margin-top: 0.2rem;
            text-transform: capitalize;
            color: $blue-dark;
            font-size: 0.6rem;
          }
        }
      }

      .about-tabs {
        margin-top: 20px;

        .tab-item {
          padding: 2px 0;
          background: transparent;
          border: none;
          text-transform: capitalize;
          display: inline-block;
          color: $blue-dark;
          font-size: 20px;
          font-weight: 500;
          margin: 0 30px 0 0;
          position: relative;
          opacity: 0.5;
          transition: all 0.3s ease-out;

          @media (max-width: 767px) {
            font-size: 1rem;
            margin: 0 20px 0 0;
          }

          &:last-child {
            margin: 0;
          }

          &::before {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 1px;
            background-color: $blue-dark;
            transform: scaleX(0);
            transform-origin: right center;
            transition: transform 0.5s ease-in-out;
          }

          &:hover::before {
            transform-origin: left center;
            transform: scaleX(100%);
          }

          &.active {
            color: $main_color;
            opacity: 1;
            cursor: auto;

            &::before {
              transform: scaleX(100%);
              background-color: $main_color;
            }
          }
        }
      }

      .tab-content {
        padding: 40px 0;
        display: none;

        .timeline {
          position: relative;

          &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 5px;
            height: 100%;
            width: 1px;
            background-color: $main_color;
          }

          .timeline-item {
            margin-bottom: 30px;
            position: relative;
            padding: 10px 0 0 40px;

            &::before {
              content: "";
              position: absolute;
              height: 11px;
              width: 11px;
              background-color: $main_color;
              border-radius: 50%;
              left: 0;
              top: 16px;
            }

            &-hobbie{
              display: block;
              margin-inline-start: 0;
              img{
                width: 60px;
                object-fit: cover;
              }

            }

            .date {
              display: block;
              color: $main_color;
              font-weight: 400;
              margin: 0 0 10px;
              text-transform: capitalize;
            }
            h4 {
              font-size: 18px;
              text-transform: capitalize;
              margin: 0 0 10px;

              span {
                font-weight: 300;
              }
            }

            &:last-child {
              margin-bottom: 0;
            }

            ul {
              list-style: inside;

              @media (max-width: 575px) {
                li {
                  padding-bottom: 15px;
                }
              }
            }
          }
        }

        &.active {
          display: block;
        }
      }

      .btn {
        margin: 0 15px 15px 0;
      }
    }
    @media (max-width: 767px) {
      .about-text,
      .about-img {
        width: 100%;
      }

      .about-text {
        margin-top: 30px;
      }

      h2 {
        font-size: 35px;
      }
    }
  }

  &.active {
    display: block;
  }
}
// TITLE
.sec-padding {
  padding: 80px 0;
}

// TITLE
