.darkMode {

  input[type="checkbox"] {
    appearance: none;
    visibility: hidden;
    display: none;

    &:checked ~ .check {
      background-color: #1b1d267f;

      &::before {
        transform: translateX(-50px);
      }
      &::after {
        transform: translateX(0px);
      }
    }
  }

  .check {
    position: relative;
    display: block;
    width: 80px;
    height: 40px;
    background-color: $white-alpha-25;
    border-radius: 20px;
    cursor: pointer;
    overflow: hidden;
    transition: 0.5s ease-in;

    &::before {
      content: "";
      position: absolute;
      top: 4px;
      left: 4px;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      background-color: $main_color;
      transition: 0.5s;
    }
    &::after {
      content: "";
      position: absolute;
      top: 4px;
      right: 4px;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      background-color: $blue-dark;
      transition: 0.5s;
      transform: translateX(50px);
    }
  }
}
