.contact-info {

  &__item {
    margin: 0 0 30px;
    padding: 0 0 0 20px;

    h3 {
      font-size: 20px;
      text-transform: capitalize;
      margin: 0 0 5px;
      letter-spacing: 2px;
      color: $blue-dark;
    }

    p {
      font-weight: 200;
    }

    .social-links {
      i {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        width: 40px;
        background-color: $white-alpha-25;
        border: 1px solid $white-alpha-40;
        color: $main_color;
        border-radius: 50%;
        margin: 6px 8px 0 0;
        transition: all 0.3s ease-in-out;

        &:hover {
          color: $white;
          background-color: $main_color;
        }
      }
    }
    @media (max-width: 575px) {
      padding: 0;
    }
  }
  @media (max-width: 767px) {
    order: -1;
    margin-bottom: 15px;
    padding: 0;
  }
}
