/******** VARIABLES *************/
:root {
  --main-color: #e02f6b;
  --blue: #0000ff;
  --blue-dark: #18293c;
  --orange: #ffa500;
  --green-yellow: #cddc39;
  --pink-light: #efa2b4;
  --cyan-light: #aef1ee;
  --white: #ffffff;
  --white-alpha-40: rgba(255, 255, 255, 0.4);
  --white-alpha-25: rgba(255, 255, 255, 0.25);
  --backdrop-filter-blur: blur(5px);
}

$main_color: var(--main-color);
$blue: var(--blue);
$blue-dark: var(--blue-dark);
$orange: var(--orange);
$green-yellow: var(--green-yellow);
$pink-light: var(--pink-light);
$cyan-light: var(--cyan-light);
$white: var(--white);
$white-alpha-40: var(--white-alpha-40);
$white-alpha-25: var(--white-alpha-25);
$backdrop-filter-blur: var(--backdrop-filter-blur);

/********DARKMODE*********/
.darkmode {
  --pink-light: #1b2026;
  --cyan-light: #000000;
  --white-alpha-40: rgba(255, 255, 255, 0.385);
  --white-alpha-25: rgba(255, 255, 255, 0.09);
  --blue-dark: #ffffff;
  --main-color: #e02f6b;
}

/***********FONTS FAMILY*******/

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

// font-family: 'Poppins', sans-serif;

/***** GLOBAL SETTINGS ********/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

::before,
::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-image: linear-gradient(to bottom right, $pink-light, $cyan-light);
  background-attachment: fixed;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: $blue-dark;
  line-height: 1.5;
  overflow-x: hidden;

  -webkit-tap-highlight-color: transparent;
  padding: 35px 15px;

  &::before {
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: $green-yellow;
    z-index: -1;
    opacity: 0.12;
  }

  &.hide-scrolling {
    overflow-y: hidden;
  }
}

body.darkmode {
  --pink-light: #1b2026;
  --cyan-light: #000000;
  --white-alpha-40: rgba(255, 255, 255, 0.385);
  --white-alpha-25: rgba(255, 255, 255, 0.09);
  --blue-dark: #ffffff;

  .contact-form {
    .input-control {
      &:focus {
        border: 1px solid $main_color;
      }
    }
  }
}

main {
  background-color: $white-alpha-25;
  border: 1px solid $white-alpha-40;
  min-height: calc(100vh - 70px);
  border-radius: 30px;
  backdrop-filter: $backdrop-filter-blur;
  display: none;

  &.active {
    display: block;
    animation: fadeIn 0.8s ease-in-out forwards;
  }

  &.fade-out {
    animation: fadeOut 0.5s ease-in-out forwards;
  }

  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes fadeIn {
    100% {
      opacity: 1;
    }
    0% {
      opacity: 0;
    }
  }
}

img {
  max-width: 100%;
  vertical-align: middle;
}

:is(h1, h2) {
  font-weight: 600;
  user-select: none;
}

:is(h3, h4, h5, h6, p) {
  font-weight: 500;
  user-select: none;
}

:is(a, button) {
  text-decoration: none;
  cursor: pointer;
  user-select: none;
}

button {
  font-family: inherit;
}

ul {
  list-style: none;
}

/*****CUSTOML SCROLLBAR********/

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background-color: $white;
}

::-webkit-scrollbar-thumb {
  background-color: $main_color;
}

.container {
  position: relative;
  max-width: 1200px;
  margin: auto;
  transition: all 0.5s ease-in-out;

  &.fade-out {
    opacity: 0.1;
  }
}

.hidden {
  display: none !important;
}

.row {
  display: flex;
  flex-wrap: wrap;

  &.align-item-center {
    align-items: center;
  }
}

.flex-end {
  justify-content: flex-end;
}

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  width: 1px;
  position: absolute;
  white-space: nowrap;
}
