.portfolio-section {
  padding-bottom: 50px;

  .portfolio-item {
    width: calc((100% / 3) - 30px);
    margin: 0px 15px 30px;

    &__thumbnail {
      padding: 10px;
      background-color: $white-alpha-25;
      border: 1px solid $white-alpha-40;
      border-radius: 10px;
      height: 220px;
      margin-bottom: 20px;

      &--imgContainer {
        height: 100%;
        width: 100%;
        border-radius: 10px;
      }
    }

    &__details {
      display: none;
    }

    h3 {
      font-size: 20px;
      text-transform: capitalize;
      margin: 15px 0;
      padding-left: 5px;
    }
    @media (max-width: 991px) {
      width: calc(50% - 30px);
    }
    @media (max-width: 575px) {
      width: calc(100% - 30px);
    }
  }
}

