.bubble {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 50%;
  background: rgba(255, 166, 0, 0.6);
  border-radius: 300px;
  opacity: 0;
  animation: anim 20s forwards;
  filter: hue-rotate(0deg);
  z-index: -200;
}

@keyframes anim {
  to {
    top: -0px;
    left: var(--left);
    opacity: 0.6;
    filter: hue-rotate(720deg);
  }
  from {
  }
}
